In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from collections import deque
import scipy.stats as s

In [10]:
# Data import
tickers_list = ['MGC=F', 'SIL=F', 'CL=F', 'NG=F', 'ZL=F', 'HG=F']
tickers_list_length = len(tickers_list)

data = yf.download(tickers=tickers_list, period="2y", interval="1h")
data.tail()

[*********************100%%**********************]  6 of 6 completed

                           Adj Close                                         \
                                CL=F    HG=F        MGC=F   NG=F      SIL=F
Datetime
2024-01-29 12:00:00-05:00  76.820000  3.8790  2047.900024  2.448  23.270000
2024-01-29 13:00:00-05:00  76.949997  3.8795  2043.900024  2.457  23.254999
2024-01-29 14:00:00-05:00  76.930000  3.8805  2045.199951  2.461  23.230000
2024-01-29 15:00:00-05:00  77.010002  3.8860  2051.100098    NaN  23.315001
2024-01-29 16:00:00-05:00  76.980003  3.8855  2051.699951    NaN  23.320000

                                          Close                              \
                                ZL=F       CL=F    HG=F        MGC=F   NG=F
Datetime
2024-01-29 12:00:00-05:00  45.299999  76.820000  3.8790  2047.900024  2.448
2024-01-29 13:00:00-05:00  45.369999  76.949997  3.8795  2043.900024  2.457
2024-01-29 14:00:00-05:00  45.500000  76.930000  3.8805  2045.199951  2.461
2024-01-29 15:00:00-05:00        NaN  77.010002  3.8860  2051.100098    NaN
2024-01-29 16:00:00-05:00        NaN  76.980003  3.8855  2051.699951    NaN

                           ...         Open                               \
                           ...        MGC=F   NG=F      SIL=F       ZL=F
Datetime                   ...
2024-01-29 12:00:00-05:00  ...  2045.400024  2.464  23.209999  45.380001
2024-01-29 13:00:00-05:00  ...  2047.699951  2.445  23.270000  45.299999
2024-01-29 14:00:00-05:00  ...  2044.000000  2.458  23.260000  45.360001
2024-01-29 15:00:00-05:00  ...  2045.400024    NaN  23.230000        NaN
2024-01-29 16:00:00-05:00  ...  2051.000000    NaN  23.315001        NaN

                            Volume
                              CL=F     HG=F   MGC=F   NG=F   SIL=F     ZL=F
Datetime
2024-01-29 12:00:00-05:00  21670.0   9846.0  1674.0  265.0   766.0  12151.0
2024-01-29 13:00:00-05:00  18934.0   2259.0  1118.0  199.0   248.0   7157.0
2024-01-29 14:00:00-05:00  41077.0    850.0   733.0  420.0   169.0   9503.0
2024-01-29 15:00:00-05:00   4985.0  73165.0  2036.0    NaN  6615.0      NaN
2024-01-29 16:00:00-05:00   4507.0    290.0   733.0    NaN   213.0      NaN

[5 rows x 36 columns]

In [38]:
# Forward fill NULL values with the average of the last 5 values, and drop the first few NaN rows

Adj_Closed = data['Adj Close'][:].fillna(method = "ffill", limit = 5).dropna()
High = data['High'][:].fillna(method = "ffill", limit = 5).dropna()
Low = data['Low'][:].fillna(method = "ffill", limit = 5).dropna()

C:\Users\ishak\AppData\Local\Temp\ipykernel_46324\429004385.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Adj_Closed = data['Adj Close'][:].fillna(method = "ffill", limit = 5).dropna()
C:\Users\ishak\AppData\Local\Temp\ipykernel_46324\429004385.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  High = data['High'][:].fillna(method = "ffill", limit = 5).dropna()
C:\Users\ishak\AppData\Local\Temp\ipykernel_46324\429004385.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  Low = data['Low'][:].fillna(method = "ffill", limit = 5).dropna()

In [42]:
High.shape

(11054, 6)

In [ ]:
class LinearRegressionChannels:
    # y = mx + c
    def __init__(self, period, data):
        self.period = period
        self.data = data

    def LRMid(self, period, data):
        mid = []
        for i in range(data.shape[0]):
            
    def LRTop(self, period,):
        high = []
        for i in range(data.shape[0]):

    def LRLow(self, period):
        low = []
        for i in range(data.shape[0]):